*{
    margin: 0px;
    padding: 0px;
}
.background{
    width: 400px;
    height: 200px;
    background: #ccc;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
}
.half{
    width: 100px;
    height: 100px;
    background: #fc0;
    border-radius: 50%;
    position: absolute;
}
.top-half{
    top: -50px;
    left: -50px;
}
.bottom-half{
    bottom: -50px;
    right: -50px;
}
