* {
  margin: 0;
  padding: 0;
  -webkit-wk-moz-box-sizing: border-box;
  -moz-wk-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
body {
}
/* table */
table {
  border: 1px solid white;
}
table thead tr {
  background: black;
  color: #fff;
}
table tbody tr:nth-child(-n+3) {
  color: red;
}
table tbody tr:nth-child(even) {
  background: #dfdfdf;
}
/* input */
input[type="text"] {
  width: 100px;
  height: 20px;
  transition: width 2s;
}
input[type="text"]:focus {
  width: 200px;
}

/*
 * 超级无敌大轮播
 */
.carrousel{
  position: relative;
}
.carrousel img {
  width: 200px;
  height: 200px;
  display: block;
}
.carrousel #slide {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.carrousel #slide div {
  float: left;
  position: relative;
}
/* 淡入淡出效果 */
@-webkit-keyframes kumamon {
    0%  { right: 0px;   }
    5%  { right: 0px;   }
    10% { right: 200px; }

    15% { right: 200px; }
    20% { right: 200px; }
    25% { right: 400px; }

    30% { right: 400px; }
    35% { right: 400px; }
    40% { right: 600px; }

    45% { right: 600px; }
    50% { right: 600px; }
    55% { right: 800px; }

    60% { right: 800px; }
    65% { right: 800px; }
    70% { right: 0px;   }
}
@-webkit-keyframes one {
  100% { right: 0 }
}
@-webkit-keyframes two {
  100% { right: 200 }
}
@-webkit-keyframes three {
  100% { right: 400 }
}
@-webkit-keyframes four {
  100% { right: 600 }
}
@-webkit-keyframes five {
  100% { right: 800 }
}
/* 动画绑定 */
.carrousel #slide div {
  -webkit-animation: kumamon 25s infinite;
  -moz-animation: kumamon 25s infinite;
}
/* 暂停效果 */
.carrousel #slide:hover div {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}

/* 按钮点击效果 */
.carrousel .slide-btn {
  position: absolute;
  bottom: 0;
  left: 85px;
}
.carrousel .slide-btn ul li{
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.4);;
  list-style: none;
  color: #fff;
}
.carrousel .slide-btn ul li a{
  text-decoration: none;
  color: #fff;
}
.carrousel #slide div#one:target ~  .carrousel #slide div{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation: one 5s 1;
}
.carrousel #slide div#two:target ~  .carrousel #slide div{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation: two 5s 1;
}
.carrousel #slide div#three:target ~  .carrousel #slide div{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation: three 5s 1;
}
.carrousel #slide div#four:target ~  .carrousel #slide div{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation: four 5s 1;
}
.carrousel #slide div#five:target ~  .carrousel #slide div{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation: five 5s 1;
}
