* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 10px;
}
body {
  margin: 0 auto;
  width: 1280px;
  font-family: Arial;
}
#header nav{
  height: 56px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.header-left {
  float: left;
}
.header-left img {
  float: left;
  margin-left: 59px;
  margin-top: 13px;
  width: 31px;
  height: 31px;
}
.header-left p {
  font-size: 20px;
  line-height: 56px;
  margin-left: 11px;
  float: left;
}
.header-right {
  font-size: 14px;
  float: right;
}
.header-right ul li.active{
  padding-bottom: 20px;
  border-bottom: 5px solid #EA6F6E;
}
.header-right ul li{
  color: #999;
  margin-top: 16px;
  padding: 0 20px;
  list-style: none;
  display: inline-block;
}
.header-right ul li img {
  height: 13px;
  padding-right: 10px;
}
.header-right ul li:hover {
  padding-bottom: 20px;
  border-bottom: 5px solid #EA6F6E;
}
.header-right ul li.login {
  color: #EA6F6E;
}
#header section {
  background-image: url(../images/header-section.jpg);
  height: 650px;
  color: white;
  position: relative;
}
#header section h1 {
  font-size: 60px;
}
#header section .header-title {
  position: absolute;
  top: 200px;
  left: 117px;
}
#header section .header-title p {
  font-size: 22px;
}
#header section .header-button {
  height: 60px;
  width: 330px;
  font-size: 30px;
  background: #E31212;
}
#header section .header-button p{
  margin-top: 70px;
  padding: 10px 100px;
  font-size: 30px;
}
#synopsis {
  margin-top: 40px;
  height: 200px;
  color: #8D8D8D;
}
#synopsis .content {
  text-align: center;
  float: left;
  width: 25%;
}
#synopsis .content p{
  margin-top: 40px;
}
#synopsis .content:not(:first-child) p {
  border-left: 2px solid #989899;

}

#dont-know {
  padding-top: 90px;
  text-align: center;
  height: 360px;
  background: #EDEDED;
}
#dont-know h2 {
  padding-top: 40px;
  font-size: 42px;
  color: #A4A4A4;
}

#place {
  display: block;
  height: 340px;
  background-image: url(../images/place.jpg);
}
#place .container {
  height: 340px;
  background: rgba(255, 0, 0, 0.1);
}
#place .header {
  padding-top: 40px;
  text-align: center;
  color: #fff;
  position: relative;
}
#place .header h2 {
  font-size: 30px;
}
#place .header h2:after {
  margin-top: 10px;
  margin-left: -18px;
  content: "";
  display: block;
  width: 36px;
  position: absolute;
  left: 50%;
  border-bottom: 3px solid #fff;
}
#place .header p {
  margin-top: 30px;
}
#activist {
  padding-top: 100px;
  height: 600px;
  background: #F8F8F8;
}
#activist article {
  position: relative;
  text-align: center;
  width: 25%;
  float: left;
}
#activist article img {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#activist article p {
  color: #B5B5B5;
}

#activist article.active img{
  margin-top: 50px;
}
#activist article.active .content {
  margin-top: -390px;
}
#activist article.active .content h3 {
  text-indent: 40px;
  letter-spacing: 40px;
}
#information {
  height: 1040px;
}
#information .carrousel-left {
  padding-top: 120px;
  color: #fff;
  text-align: center;
  float: left;
  width: 66%;
  height: 560px;
  position: relative;
  background-image: url(../images/carrousel-01.jpg);
}
#information .carrousel-left img {
  position: absolute;;
  right: 0px;
  margin-top: -40px;
  top: 50%;
}
#information .carrousel-left h2 {
  font-size: 50px;
}
#information .carrousel-left p {
  margin-top: 15px;
}
#information .carrousel-left h2.super {
  margin-top: 0px;
  font-weight:300;
  font-size: 160px;
  line-height: 120px;
  margin-bottom: 40px;
}
#information .carrousel-right {
  float: left;
  width: 33%;
  height: 560px;
  position: relative;
}
#information .carrousel-right h2 {
  margin-top: 130px;
  text-align: center;
}
#information .carrousel-right p {
  padding: 20px 80px;
  font-size: 10px;
  line-height: 30px;
  color: #aaa;
}
#information .carrousel-right .red{
  color: #E74F4D;
}
#information .article {
  position:relative;
  padding-top: 160px;
  text-align: center;
  float: left;
  width: 33%;
  height: 480px;
}
#information .article .header:after {
  position: relative;
  left: 50%;
  content: "";
  display: block;
  margin-left: -25px;
  width: 50px;
  border-bottom: 2px solid white;
}
#information .photo {
  background-image: url(../images/information-photo.jpg);
}
#information .photo img{
  position: absolute;
  left: 0px;
  top: 50%;

}
#information .article a {
  margin: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid white;
}
#information .article.red {
  background: #E74F4D;
  color: white;
}
#information .white a{
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid #E74F4D;
  color: #E74F4D;
}
#information .white .header:after {
  position: relative;
  left: 50%;
  content: "";
  display: block;
  margin-left: -25px;
  width: 50px;
  border-bottom: 2px solid #aaa;
}
#information .carrousel-right a {
  display: inline-block;
  color: #E74F4D;
  text-decoration: none;
  padding: 10px 50px;
  border: 1px solid #E74F4D;
  position: absolute;
  margin: 0 120px;
}
#join-us {
  margin-top: 110px;
  height: 690px;
}
#join-us .header {
  position: relative;
  text-align: center;
}
#join-us .header h2::after{
  margin-top: 10px;
  content: "";
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display: block;
  border-bottom: 2px solid #E74F4D;
}
#join-us .header p{
  margin-top: 25px;
  color: #aaa;
}
#footer {
  height: 380px;
}
#footer .top {
  background: #32353E;
  height: 335px;
}
#footer .bottom {
  padding-top: 20px;
  height: 45px;
  color: #fff;
  background: #2F2F38;
  font-size: 10px;
}
#footer .bottom .left {
  float: left;
  padding-left: 90px;
}
#footer .bottom .right {
  float: right;
  padding-right: 50px;
}
