* {
  margin: 0px;
  padding: 0px;
  -webkit-wk-moz-box-sizing: border-box;
  -moz-wk-moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 1280px;
}
/* 头部部分 */
#header {
  height: 56px;
  background: #2189BF;
}
#header nav .left {
  float: left;
}
#header nav .left img {
  padding-top: 10px;
  padding-left: 50px;
}
#header nav .right {
  float: right;
}
#header nav .right .content .search {
  padding-top: 14px;
  float: left;
}
#header nav .right .content input {
  width: 312px;
  border-radius: 20px;
  height: 28px;
  border: none;
  background: #fff;
  margin-right: 21px;
  background: url(../images/header-search.png) center left 15px no-repeat, #fff;
}
#header nav .right .content .login {
  float: left;
  position: relative;
  padding-right: 94px;
}
#header nav .right .content .login a{
  padding-top: 22px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  display: block;
  float: left;
}
#header nav .right .content .login img{
  padding-top: 20px;
  display: block;
  float: left;
  padding-right: 3px;
}
#header nav .right .content a span{
  background-image: url(../images/header-user.png);
}

/* 菜单部分 */
#container:after {
  content: "";
  display: table;
  clear: both;
}
#container .left {
  width: 20%;
  height: 1210px;
  background: #2A2E3D;
  float: left;
}
#container .left .header {
  padding-top: 18px;
  padding-left: 45px;
}
#container .left .header .head-portrait img{
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #fff;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}
#container .left .header .head-portrait h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding-left: 18px;
  color: #fff;
}
#container .left .header .info {
  color: #6E8095;
  font-size: 12px;
}
#container .left .header .info .content {
  margin-top: 25px;
  float: left;
  text-align: center;
  margin-bottom: 25px;
}
#container .left .header .info .content.collect {
  padding-left: 20px;
  padding-right: 40px;
  border-right: 1px solid #6E8095;
}
#container .left .header .info .content.fans {
  padding-left: 40px;
}
#container .left .header:after {
  content: "";
  display: table;
  clear: both;
}
#container .left .content-list {
  color: #6E8095;
  background: #2B2E3D;
}
#container .left .content-list span.active{
  color: #fff;
}
#container .left .content-list ul li.content-list-main {
  padding-left: 65px;
  padding-top: 20px;
  font-size: 12px;
  list-style: none;
}
#container .left .content-list ul li.content-list-main.active {
  background: #383D4E;
  padding-bottom: 20px;
}
#container .left .content-list .icon {
  width: 12px;
  height: 12px;
  float: left;
  padding-right: 20px;
}
#container .left .content-list .icon.person-table {
  background-image: url(../images/person-table.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-start {
  background-image: url(../images/person-start.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-share {
  background-image: url(../images/person-share.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-info {
  background-image: url(../images/person-info.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-file {
  background-image: url(../images/person-file.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-file-active {
  background-image: url(../images/person-file-active.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-arrow {
  background-image: url(../images/person-arrow.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-arrow-active {
  background-image: url(../images/person-arrow-active.png);
  background-repeat: no-repeat;
}
#container .left .content-list .icon.person-sm-file {
  background-image: url(../images/person-sm-file.png);
  background-repeat: no-repeat;
}
#container .left .content-list .content-list-child {
  list-style: none;
}
#container .left .content-list .content-list-child li {
  padding-top: 15px;
  list-style: none;
  padding-left: 20px;
}

/* 内容部分 */
#container .right {
  float: left;
  height: 1210px;
  width: 80%;
  background-color: #EDEDED;
}
#container .right .breadcrumb {
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
#container .right .breadcrumb ul {
  list-style: none;
  float: left;
  padding-left: 20px;
}
#container .right .breadcrumb ul li{
  display: inline;
  font-size: 12px;
  color: #aaa;
  line-height: 30px;
  padding-right: 10px;
}
#container .right .breadcrumb ul li.active{
  color: #78A3C8;
}
#container .right .breadcrumb ul li:before{
  content: "/";
  padding-right: 10px;
  color: #aaa;
}
#container .right .breadcrumb ul li:first-child:before{
  content: "";
}
#container .right .content {
  margin: 0 60px;
}
#container .right .content .select {
  margin-top: 20px;
  height: 85px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#container .right .content .money {
  height: 66px;
  margin-top: 10px;
}
#container .right .content .go-btn {
  float: left;
  height: 66px;
  width: 30px;
  background: url(../images/money-left-arrow.png) center left 10px no-repeat #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#container .right .content .money-item {
  float: left;
  background: #fff;
  height: 66px;
  width: 110px;
  margin-left: 6.7px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}
#container .right .content .money-item:hover {
  border-top: 3px solid #4388C8;
}
#container .right .content .money-item.active {
  border-top: 3px solid #4388C8;
}
#container .right .content .money-item .money-item-time{
  font-size: 12px;
  padding-top: 15px;
}
#container .right .content .money-item .money-item-num {
  padding-top: 5px;
  color: #EC6500;
  font-size: 20px;
}
#container .right .content .money-item .money-item-num span{
  color: #aaa;
  font-size: 20px;
}
#container .right .content .next-btn {
  float: left;
  height: 66px;
  width: 30px;
  margin-left: 6.7px;
  background: url(../images/money-right-arrow.png) center left 10px no-repeat #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#container .right .content .history {
  width: 130px;
  height: 66px;
  background: #fff;
  float: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-left: 6.7px;
}
#container .right .content .history img {
  padding-top: 18px;
  padding-left: 20px;
  float: left;
}
#container .right .content .history p {
  padding-top: 28px;
  padding-left: 10px;
  font-size: 12px;
  float: left;
}
#container .right .content .statistics {
  margin-top: 20px;
}
#container .right .content .statistics .title {
  font-size: 12px;
  margin-bottom: 5px;
}
#container .right .content .statistics .item {
  margin-left: 30px;
  height: 70px;
  width: 203.5px;
  font-size: 12px;
  margin-bottom: 5px;
  float: left;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#container .right .content .statistics .item.green {
  margin-left: 0px;
  border-left: 3px solid #43B29E;
}
#container .right .content .statistics .item-right.green {
  float: right;
  width: 60px;
  height: 46px;
  background: #43B29E;
  margin-top: 12px;
  margin-right: 12px;
}
#container .right .content .statistics .item.blue {
  border-left: 3px solid #388AC1;
}
#container .right .content .statistics .item-right.blue {
  float: right;
  width: 60px;
  height: 46px;
  background: #388AC1;
  margin-top: 12px;
  margin-right: 12px;
}
#container .right .content .statistics .item.red {
  border-left: 3px solid #D04A36;
}
#container .right .content .statistics .item-right.red {
  float: right;
  width: 60px;
  height: 46px;
  background: #D04A36;
  margin-top: 12px;
  margin-right: 12px;
}
#container .right .content .statistics .item.yellow {
  border-left: 3px solid #E2CD47;
}
#container .right .content .statistics .item-right.yellow {
  float: right;
  width: 60px;
  height: 46px;
  background: #E2CD47;
  margin-top: 12px;
  margin-right: 12px;
}
#container .right .content .statistics .item-left {
  padding-left: 7px;
  padding-top: 20px;
  float: left;
}
#container .right .content .statistics .item-left .char{
  padding-top: 15px;
  color: #aaa;
}
#container .right .content .statistics:after {
  content: "";
  display: table;
  clear: both;
}
#container .right .content .project {
  margin-top: 10px;
}
#container .right .content .project .title {
  background: #F4F5F6;
  height: 40px;
  border-radius: 15px 15px 0 0;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 15px;
  color: #AAA;
}
#container .right .content .project .project-left,
#container .right .content .project .project-right {
  background: #fff;
  height: 355px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  float: left;
}
#container .right .content .project .project-left {
  width: 530px;
  margin-right: 10px;
}
#container .right .content .project .project-right {
  width: 364px;
}
#container .right .content .project .project-left .project-list {
  list-style: none;
  margin-top: 12px;
  margin-left: 22px;
}
#container .right .content .project .project-left .project-list li {
  display: inline-block;
  height: 30px;
  width: 80px;
  background: #E8EDF1;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  line-height: 30px;
}
#container .right .content .project .project-left .project-list li.active p{
  border: 1px solid #CFD0D0;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  position: relative;
  background: #fff;
  z-index: 2;
}
#container .right .content .project .project-left .project-list .project-table {
  width: 480px;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  border: 1px solid #CFD0D0;
  position: absolute;
  z-index: 1;
}
#container .right .content .project .project-left .project-list .project-table table {
  width: 400px;
  border-spacing: 0;
  border-collapse: collapse;
}
#container .right .content .project .project-left .project-list .project-table td {
  width: 400px;
  border: 1px solid #CFD0D0;
}
#container .right .content .project .project-right .project-right-lists {
  padding-left: 36px;
  padding-right: 36px;
}
#container .right .content .project .project-right .project-right-lists .project-right-list {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
#container .right .content .project .project-right .project-right-lists .project-right-list h6 {
  color: #AAA;
  padding-bottom: 5px;
}

#container .right .content .project .project-right .project-right-lists .project-right-list.list-people {
  float: left;
  width: 70%;
}
#container .right .content .project .project-right .project-right-lists .project-right-list.list-price {
  border-right: 1px solid #EEEEEE;
  float: left;
  width: 30%;
}
#container .right .content .project .project-right .project-right-lists .project-right-list.list-describe {
  width: 100%;
  height: 150px;
  clear: both;
}
#container .right .content .project .project-right .list-checked-search {

  color: #aaa;
  margin-top: 15px;
  font-size: 12px;
}
#container .right .content .project .project-right .list-checked-search .checkbox {
  vertical-align: middle;
  display: inline-block;
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  background: url(../images/checkbox.png) center no-repeat #d5d5d5;
}
#container .right .content .project .project-right .list-checked-search input[type="button"] {
  margin-left: 150px;
  border: none;
  padding: 6px 13px;
  color: #fff;
  background: #388ac1;
  border-radius: 5px 5px 5px 5px;
}
#container .right .content .select {
  font-size: 12px;
}
#container .right .content .select label {
  color: #CBCBCB;
  padding-right: 10px;
}
#container .right .content .select select {
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 5px 20px 5px 5px;
  background: url(../images/select-arrow.png) center right 5px no-repeat #fff;
}
#container .right .content .select .select-util {
  margin-top: 15px;
  float: left;
}
#container .right .content .select .select-items {
  padding-left: 30px;
}
#container .right .content .select .select-items select {
  width: 70px;
}
#container .right .content .select .select-change {
  padding-left: 35px;
  position: relative;
  padding-right: 28px;
}
#container .right .content .select .select-change .select-change-btn{
  position: absolute;
  right: 0px;
  top: 10px;
}
#container .right .content .select .select-change select {
  width: 120px;
}
#container .right .content .select .select-change .select-sell {
  margin-top: 5px;
}
#container .right .content .select .select-date {
  margin-left: 30px;
}
#container .right .content .select .select-date input {
  border: 1px solid #aaa;
  padding: 5px 5px 5px 5px;
}
#container .right .content .select .select-usetime {
  padding-left: 10px;
}
#container .right .content .select .select-usetime select {
  width: 70px;
}
#container .right .content .select .select-other {
  width: 710px;
}
#container .right .content .select .select-people {
  margin-top: 5px;
  margin-left: 30px;
}
#container .right .content .select .select-people select {
  width: 70px;
}
#container .right .content .select .select-do {
  margin-top: 5px;
  margin-left: 30px;
}
#container .right .content .select .select-do select {
  width: 118px;
}
#container .right .content .select .select-search {
  position: relative;
}
#container .right .content .select .select-search input[type="button"]{
  border: 0px;
  background: #388AC1;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  position: absolute;
  margin: 30px;
}

#container .right .content .calendar-carbrand {
  padding-top: 10px;
  clear: both;
}
#container .right .content .calendar-carbrand .title p{
  background: #F4F5F6;
  height: 40px;
  border-radius: 15px 15px 0 0;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 15px;
  color: #AAA;
}
#container .right .content .calendar-carbrand .calendar,
#container .right .content .calendar-carbrand .carbrand {
  background: #fff;
  height: 355px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  float: left;
}
#container .right .content .calendar-carbrand:after {
  content: "";
  clear: both;
  display: table;
}
#container .right .content .calendar-carbrand .calendar {
  width: 350px;
  margin-right: 10px;
}
#container .right .content .calendar-carbrand .carbrand {
  width: 544px;
}
#container .right .content .calendar-carbrand .calendar .time select {
  -webkit-appearance: none;
  border: 1px solid #aaa;
  border-radius: 0px;
  padding: 5px 15px 5px 5px;
  float: left;
  background: url(../images/calendar-arrow.png) center right 5px no-repeat #fff;
  margin-right: 5px;
}
#container .right .content .calendar-carbrand .calendar .time .year select {
  width: 65px;
}
#container .right .content .calendar-carbrand .calendar .time .month select {
  width: 85px;
}
#container .right .content .calendar-carbrand .calendar .calendar-content{
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 25px;
}
#container .right .content .calendar-carbrand .calendar .time input[type="button"] {
  -webkit-appearance: none;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0px;
  padding: 5px;
  float: left;
  width: 65px;
}
#container .right .content .calendar-carbrand .calendar .time:after {
  content: "";
  display: table;
  clear: both;
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-first {
  margin-top: 10px;
  list-style: none;
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-first li {
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-first li:after {
  content: "";
  display: table;
  clear: both;
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-first .weekday {
  border-top: 1px solid #A9CFEC;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-first .weekday li {
  padding-left: 13.4px;
  padding-right: 13.4px;
}
#container .right .content .calendar-carbrand .calendar .calendar-body .calendar-second li {
  float: left;
  list-style: none;
}
