/* 初始化 */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* clearfix 黑魔法 */
.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}
/* 色块 */
.block {
  height: 50px;
  background: #eee;
  border: 1px solid #999;
}

/*
 * 响应式布局
 * 屏幕宽度：大于 780 px;
 */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 10px;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
  padding: 10px;
}
.col-md-1 {
  width: 8.33%;
}
.col-md-2 {
  width: 16.66%;
}
.col-md-3 {
  width: 24.99%;
}
.col-md-4 {
  width: 33.32%;
}
.col-md-5 {
  width: 41.65%;
}
.col-md-6 {
  width: 49.98%;
}
.col-md-7 {
  width: 58.31%;
}
.col-md-8 {
  width: 66.64%;
}
.col-md-9 {
  width: 74.92%;
}
.col-md-10 {
  width: 83.30%;
}
.col-md-11 {
  width: 91.62%;
}
.col-md-12 {
  width: 100%;
}
/*
 * 响应式布局
 * 屏幕宽度：大于 780 px;
 */
@media all and (max-width:780px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 24.99%;
  }
  .col-sm-4 {
    width: 33.32%;
  }
  .col-sm-5 {
    width: 41.65%;
  }
  .col-sm-6 {
    width: 49.98%;
  }
  .col-sm-7 {
    width: 58.31%;
  }
  .col-sm-8 {
    width: 66.64%;
  }
  .col-sm-9 {
    width: 74.92%;
  }
  .col-sm-10 {
    width: 83.30%;
  }
  .col-sm-11 {
    width: 91.62%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
